<div class="container-fluid">
  <div class="col-lg-12">   
   <!--<ul class="list-inline">
    <li class="list-inline-item" ng-repeat="nav in navtop">
     <div class="list-group">
	  <a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
     </div>
    </li>
   </ul>-->
  </div>
 </div>
 </div>
 <div class="row">
 	<div class="col-md-3" >
 		<h4 style="padding-top: 15%">Menu</h4>
 		<ul class="list-group">
   			<li class="list-group-item" ng-repeat="nav in navtop">
   				<a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
   			</li>
   			<li class="list-group-item">
 			<button class="editProfileButtonNoZoom" ng-click="linkToEnterVolunteerPool()">Enter Volunteer Pool</button>
 			</li>
 			<li class="list-group-item">
 			<button class="editProfileButtonNoZoom" ng-click="linkToPostOpportunity()">Post Opportunity</button>
 			</li>
   		</ul>
<!--    		<div id="container" style="padding-top: 30px">
    		<h4>Filter Your Search</h4>
    		<div class="funkyradio" ng-repeat="filter in filters">
     			<div class="funkyradio-primary">
      				<input type="checkbox" name="checkbox" id="checkbox{{$index+1}}"/>
      				<label for="checkbox{{$index+1}}">{{filter}}</label>
     			</div>
    		</div>
   		</div> --> 
 	</div>
  <div class="col-lg-8">
  	<table id="feedTitleTable">
  		<tr>
  			<td id="feedTitleOneThirdWidth"></td>
  			<td><h1 style="text-align: center">{{title}}</h1></td>
  			<td id="feedTitleOneThirdWidth">
  				<input type='text' id="searchBox" ng-model='searchOpportunities' placeholder="Search Opportunities" />
  			</td>
  		</tr>
  	</table>
   <div id="scrollableFeedParent">
   <div id="scrollableFeedChild">
   <div id="opportunitiesArea"> 
   <div class="card mt-4" style="background: #2196F3" ng-repeat="op in ops">
    <!--<img class="card-img-top img-fluid" src="/static/images/{{op.image}}" alt=""/>-->
    <div class="card-body">
    	<table id="cardDisplayTable">
    		<tr>
    			<td><h3 class="card-title">{{op.organization}}</h3></td>
    			<td id="tableDataRightSide">
    				<span ng-show="op.isCurrentUsersOp"><button class="editProfileButtonNoZoom" ng-click="removeOpportunity(op.id)">Remove Opportunity</button></span>
					<button ng-hide="op.isCurrentUsersOp" class="editProfileButtonNoZoom" ng-click="addToDesiredOps(op.id)">Favourite</button>					
                </td>
    		</tr>
    	</table>     
     <h5>Location: {{op.location}}</h5>
     <p class="card-text">{{op.description}}</p>
     <h5>Contact: {{op.email}}, {{op.phone}}</h5>
	 <!--<p class="card-text"><a href="#">Read more</a> </p>-->
	 <div id="AverageRatingContainer">
            <table id="cardDisplayTable">
                <tr>
                    <td><h5>Organization Rating:</h5></td>
                    <td></td>
                    <td id="rateCenter"><span ng-hide="op.isCurrentUsersOp"><h5>Rate:</h5></span></td>
                </tr>
                <tr>
                    <td><jk-rating-stars rating="op.averageRating" read-only="true"></jk-rating-stars></td>
                    <td></td>
                	<td id="tableDataRightSide"><span ng-hide="op.isCurrentUsersOp"><jk-rating-stars rating="rating" on-rating="onOrganizationRating(rating, op)"></span></jk-rating-stars></td>
            	</tr>
        	</table>
                    			
    	</div>
    </div>
   </div>
   </div>
   </div>
   </div>
  </div>
 </div>
</div>