<div class="container-fluid">
  <div class="col-lg-12">   
   <!--<ul class="list-inline">
    <li class="list-inline-item" ng-repeat="nav in navtop">
     <div class="list-group">
	  <a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
     </div>
    </li>
   </ul>-->
  </div>
 </div>
 </div>
 <div class="row">
 	<div class="col-md-3" style="padding-left: 5%">
 		<h4 style="padding-top: 15%">Menu</h4>
 		<ul class="list-group">
   			<li class="list-group-item" ng-repeat="nav in navtop">
   				<a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
   			</li>
   			<li class="list-group-item">
 			<button class="editProfileButtonNoZoom" ng-click="linkToEnterVolunteerPool()">Enter Volunteer Pool</button>
 			</li>
 			<li class="list-group-item">
 			<button class="editProfileButtonNoZoom" ng-click="linkToPostOpportunity()">Post Opportunity</button>
 			</li>
   		</ul>
   		<div id="container" style="padding-top: 30px">
    		<h4>Filter Your Search</h4>
    		<div class="funkyradio" ng-repeat="filter in filters">
     			<div class="funkyradio-primary">
      				<input type="checkbox" name="checkbox" id="checkbox{{$index+1}}"/>
      				<label for="checkbox{{$index+1}}">{{filter}}</label>
     			</div>
    		</div>
   		</div> 
 	</div>
  <div class="col-lg-8">
   <h1 style="text-align: center">{{title}}</h1>
   <div id="scrollableFeedParent">
   <div id="scrollableFeedChild">
   <div id="opportunitiesArea"> 
   <div class="card mt-4" style="background: #2196F3" ng-repeat="op in ops">
    <!--<img class="card-img-top img-fluid" src="/static/images/{{op.image}}" alt=""/>-->
    <div class="card-body">
     <h3 class="card-title">{{op.organization}}</h3>
     <h5>Location: {{op.location}}</h5>
     <p class="card-text">{{op.description}}</p>
     <h5>Contact: {{op.email}}, {{op.phone}}</h5>
	 <!--<p class="card-text"><a href="#">Read more</a> </p>-->
    </div>
   </div>
   </div>
   </div>
   </div>
  </div>
 </div>
</div>