<div class="container">
 <div class="row">
  <div class="col-lg-12">
   <ul class="list-inline">
    <li class="list-inline-item" ng-repeat="nav in navtop">
     <div class="list-group">
      <a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
     </div>
    </li>
   </ul>
  </div>
 </div>
 
<div class="row">
  <div class="col-md-3" style="padding-left: 5%">
        <h4 style="padding-top: 15%">Options</h4>
        <ul class="list-group">
            <li class="list-group-item">
            <button class="editProfileButtonNoZoom" ng-click="linkToUpdateProfile()">Update Information</button>
            </li>
            <li class="list-group-item">
                <button class="editProfileButtonNoZoom" ng-click="linkToChangePassword()">Change Password</button>   
            </li>
            <li class="list-group-item">
                <button class="editProfileButtonNoZoom" ng-click="linkToUploadProfilePicture()">Set Profile Picture</button>
            </li>
        </ul>
    </div>

  <div class="col-lg-9">
   <div class="card mt-4 text-center" style="background: #2196F3">
    <div class="card-body">
    <h5 class="card-title">Upload Profile Picture</h5>
     <form action="" method="">
            <div class="row">
                <input type="file">
            </div>
        </form>
    </div>
   </div>
  </div>
 </div>
</div>