<div class="container-fluid">
 <div class="row">
  <div class="col-lg-12">
   
   <!--<ul class="list-inline">
    <li class="list-inline-item" ng-repeat="nav in navtop">
     <div class="list-group">
	  <a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
     </div>
    </li>
   </ul>-->
  </div>
 </div>
 <div class="row">
 </div>
 <div class="row">
   	<div class="col-md-3" >
 		<h4 style="padding-top: 15%">Menu</h4>
 		<ul class="list-group">
   			<li class="list-group-item" ng-repeat="nav in navtop">
   				<a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
   			</li>
   			<li class="list-group-item">
 			<button class="editProfileButtonNoZoom" ng-click="linkToEnterVolunteerPool()">Enter Volunteer Pool</button>
 			</li>
   		</ul>
 	</div>
  <div class="col-lg-8">
  	<table id="feedTitleTable">
  		<tr>
  			<td id="feedTitleOneThirdWidth">
  				<table>
  					<tr>
  						<td><h6>View As:</h6></td>
  						<td><select name="organizationSelect" id="organizationSelectSmall" ng-init="chosenOrganizationName = userOrganizationNames[0]" ng-options="name as name for name in userOrganizationNames" ng-model="chosenOrganizationName"></select></td>
  					</tr>
  				</table>  				
  			</td>
  			<td><h1 style="text-align: center">{{title}}</h1></td>
  			<td id="feedTitleOneThirdWidth">
  				<input type='text' id="searchBox" ng-model='searchVolunteers' placeholder="Search Volunteers" />
  			</td>
  		</tr>
  	</table>
  		<div id="scrollableFeedParent">
   			<div id="scrollableFeedChild">
   				<div id="opportunitiesArea"> 
   					<div class="card mt-4" style="background: #48abf9" ng-repeat="volunteer in volunteers">
    					<!--<img class="card-img-top img-fluid" alt="" style="width: 250px; height: 250px">-->
                		<div class="card-body">
                			<table id="cardDisplayTable">
					    		<tr>
					    			<td><h3 class="card-title">{{volunteer.fullName}} ({{volunteer.user}})</h3></td>
					    			<td id="tableDataRightSide">
					    				<span ng-show="volunteer.isCurrentUsersVolunteerPost"><button class="editProfileButtonNoZoom" ng-click="removeVolunteerPost(volunteer.id)">Remove Entry</button></span>
										<button ng-hide="volunteer.isCurrentUsersVolunteerPost || !viewingAsOrg" class="editProfileButtonNoZoom" ng-click="addToDesiredVolunteers(volunteer.user_id)">Favourite</button>
					                </td>
					    		</tr>
					    	</table>
                    		<h5>Availability: {{volunteer.availability}}</h5>
                    		<p class="card-text">{{volunteer.description}}</p>
                    		<h5>Contact: {{volunteer.email}}</h5>
                    		<div id="AverageRatingContainer">
                    			<table id="cardDisplayTable">
                    				<tr>
                    					<td><h5>Average Rating:</h5></td>
                    					<td></td>
                    					<td id="rateCenter"><span ng-hide="volunteer.isCurrentUsersVolunteerPost || !viewingAsOrg"><h5>Rate:</h5></span></td>
                    				</tr>
                    				<tr>
                    					<td><jk-rating-stars rating="volunteer.averageRating" read-only="true"></jk-rating-stars></td>
                    					<td></td>
                    					<td id="tableDataRightSide"><span ng-hide="volunteer.isCurrentUsersVolunteerPost || !viewingAsOrg"><jk-rating-stars rating="rating" on-rating="onVolunteerRating(rating, volunteer.user_id)"></span></jk-rating-stars></td>
                    				</tr>
                    			</table>
                    			
                    		</div>                    		
                    		<!--<p class="card-text"><a href="#">Read more</a> </p>-->
                		</div>
            		</div>           
    			</div>
   			</div>
   		</div>

            <!-- /.col-lg-9 -->
        </div>
    </div>
</div>