<div class="container-fluid">
 <div class="row">
 </div>
 
 <div class="row">
 	<div class="col-md-3" style="padding-left: 5%">
 		<h4 style="padding-top: 15%">Menu</h4>
 		<ul class="list-group">
   			<li class="list-group-item" ng-repeat="nav in navtop">
   				<a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
   			</li>
   			<li class="list-group-item">
	 			<button class="editProfileButtonNoZoom" ng-click="linkToRegisterOrganization()">Register Organization</button>	
 			</li>
   			<li class="list-group-item">
 			<button class="editProfileButtonNoZoom" ng-click="linkToUpdateProfile()">Edit Profile</button>
 			</li>
 			<li class="list-group-item">
	 			<button class="editProfileButtonNoZoom" ng-click="logout()">Logout</button>	
 			</li>	
   		</ul>
 	</div>
 	
 	<div class="col-lg-6">
  	<h1 class="profileNameHeader" style="text-align: center">{{title}}</h1>
   <div class="card mt-4" style="background: #2196F3">
    <div class="card-body">
    	<table class="table table-striped">
    		<tbody>
    			<tr>
    			<td><label class = "profileInfoField">Name:</label></td>
    			<td><label>{{profileFullName}}</label></td>
    			</tr>
    			<tr>
    			<td><label class = "profileInfoField">Email:</label></td>
    			<td><label>{{profileEmail}}</label></td>
    			</tr>
    			<tr>
    			<td><label class = "profileInfoField">Proud Volunteer Since:</label></td>
    			<td><label>{{profileCreationDate}}</label></td>
    			</tr>
    			<tr>
    			<td><label class = "profileInfoField">Resume:</label></td>
    			<td><a href="http://www.resume-resource.com/before-after/ba-ex10.pdf">resume.pdf</a></td>
    			</tr>
    		</tbody>
    	</table>
    </div>
   </div> <br/>
  </div> 
  <div class="col-lg-3">
  	<div class="card mt-4" style="background: #2196F3">
  		<div id="container" style="padding-top: 50px">
    		<img class="card-img-top img-fluid" src="/static/images/{{profileImage}}" alt="" style="width: 250px; height: 250px"/>
    		<div class="row">
    		</div>
   		</div>
   		<div class ="card mt-3" style="background: #F7C32E">
   		<label>"{{profileBio}}"</label>
   		</div>   		
  	</div>
  </div>

 </div>
</div>