<div class="container-fluid">
 <div class="row">
 </div>
 
 <div class="row">
  <div class="col-md-3" >
        <h4 style="padding-top: 15%">Options</h4>
        <ul class="list-group">
        	<li class="list-group-item" ng-repeat="nav in navtop">
   				<a ng-href="#/{{nav.state}}" class="list-group-item active">{{nav.name}}</a>
   			</li>
            <li class="list-group-item">
            <button class="editProfileButtonNoZoom" ng-click="linkToUpdateProfile()">Update Information</button>
            </li>
            <li class="list-group-item">
                <button class="editProfileButtonNoZoom" ng-click="linkToChangePassword()">Change Password</button>   
            </li>
            <li class="list-group-item">
                <button class="editProfileButtonNoZoom" ng-click="linkToUploadProfilePicture()">Set Profile Picture</button>
            </li>
        </ul>
    </div>

  <div class="col-lg-8">
  <h4 style="padding-top: 6%"></h4>
   <div class="card mt-4 text-center" style="background: #2196F3">
    <div class="card-body">
    <h4 class="card-title">Change Password</h4>
    <div class="login-form-1">
        <form id="changePassword" class="text-left" ng-submit="changePassword()">
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label class="entryFormLabel">Old Password</label>
                        <input type="password" class="form-control" ng-model="oldPassword" name="oldPassword" id="oldPassword">
                    </div>
                    <span style="color:red" ng-show="errors.oldPassword">Error: {{errors.oldPassword}}</span>
                    <br/>
                    <div class="form-group">
                        <label class="entryFormLabel">New Password</label>
                        <input type="password" class="form-control" ng-model="newPassword1" name="newPassword" id="newPassword">
                    </div>
                    <span style="color:red" ng-show="errors.newPassword1">Error: {{errors.newPassword1}}</span>
                    <br/>
                    <div class="form-group">
                        <label class="entryFormLabel">Re-enter New Password</label>
                        <input type="password" class="form-control" ng-model="newPassword2" name="newPasswordConfirm" id="newPasswordConfirm">
                    </div>
                    <span style="color:red" ng-show="errors.newPassword2">Error: {{errors.newPassword2}}</span>
                    <br/>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
    </div>
   </div>
  </div>
 </div>
</div>