<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>OVON</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="static/css/shop-item.css" rel="stylesheet">
  <link href="static/css/jk-rating-stars.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css" />-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <script type="text/javascript" src="static/js/angular.js"></script>
  <script type="text/javascript" src="static/js/angular-cookies.js"></script>
  <script type="text/javascript" src="static/js/angular-cookies.min.js"></script>
  <script type="text/javascript" src="static/js/angular-ui-router.js"></script>
  <script type="text/javascript" src="static/js/angular-route.js"></script>
  <script type="text/javascript" src="static/js/angular-sqlite.js"></script>
  <script type="text/javascript" src="static/js/jquery-3.2.1.js"></script>
  <!--<script type="text/javascript" src="static/js/popper.js"></script>-->
  <script type="text/javascript" src="static/js/angular.min.js"></script>
  <!--<script type="text/javascript" src="static/js/ui-bootstrap-tpls-2.5.0.min.js"></script>-->
  <script type="text/javascript" src="static/js/jk-rating-stars.min.js"></script>
  <script type="text/javascript" src="static/js/ui-bootstrap-tpls-0.2.0.js"></script>
  
  <script src="https://code.angularjs.org/1.6.6/angular-aria.min.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>  -->

  <script src="static/app/myorganizations/myOrganizations.js"></script>
  <script src="static/app/registerorganization/registerOrganization.js"></script>
  <script src="static/app/createopportunitypost/createOpportunityPost.js"></script>  
  <script src="static/app/createvolunteerpost/createVolunteerPost.js"></script>
  <script src="static/app/updateprofile/updateProfile.js"></script>
  <script src="static/app/changepassword/changepassword.js"></script>
  <script src="static/app/uploadprofilepicture/uploadprofilepicture.js"></script> 
  <script src="static/app/resetpassword/resetPassword.js"></script>
  <script src="static/app/forgotpassword/forgotPassword.js"></script>
  <script src="static/app/opportunities/opportunities.js"></script> 
  <script src="static/app/volunteerpool/volunteerpool.js"></script>
  <script src="static/app/profile/profile.js"></script>
  <script src="static/app/register/register.js"></script>
  <script src="static/app/login/login.js"></script>
  <script src="static/app/config/{{env}}_config.js"></script>
  <script src="static/app/app.js"></script>
  
 </head>
 <body ng-app="OVONApp">
  <span header></span>	
  <ui-view ng-cloak></ui-view>
  </body>
  <span footer></span>
</html>
